* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: rgba(0, 0, 0, 0);
    color: #463f3f;
    text-decoration: none;

    /*
  The full path of this code is nav ul li a:not(:only-child):after. This means that the code will apply to any a tag in our nav list that is NOT an only child, aka any dropdown. The :after means it comes after the output of the tag. I’ve decided that to specify any nav item as a dropdown, it will be followed by a unicode arrow – ▾ (#9662).
  */
}

nav ul li a:hover {
    background: #f2f2f2;
    color: #fb5958;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
}

nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    z-index: 1;
    /* Guarantees that the dropdown will display on top of any content. */
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    display: none;
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 13px;
    right: 8px;
    background: #fff;
    height: 75px;
    width: 70px;
}

@media only screen and (max-width: 800px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: 70px 0 15px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }

    nav ul li ul li a {
        padding-left: 30px;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #463f3f;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

@media screen and (min-width: 800px) {
    .nav-list {
        display: block !important;
    }
}

/* 
.navigation – the outer wrapper for the navbar. Specifies the height and color, and will stretch the full width of the viewport.
*/
.navigation {
    height: 75px;
    background: rgba(0, 0, 0, 0.3);
}

/*
.nav-container – the inner wrapper for the navbar. Defines how far the actual content should stretch.
*/

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
}

.brand a,
.brand a:visited {
    color: #463f3f;
    text-decoration: none;
}

.grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/* Carousel */


.gallery {
    background: #EEE;
}

.gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}


/* position dots up a bit */
.flickity-page-dots {
    bottom: -22px;
}

/* dots are lines */
.flickity-page-dots .dot {
    height: 5px;
    width: 50px;
    margin: 0;
    border-radius: 5px;
}

.flickity-page-dots .dot.is-selected {
    background: teal;
}


/* SECTIONS */

.headline {
    width: 100%;
    height: 50vh;
    min-height: 350px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features {
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    display: flex;
    padding: 50px 20px;
    justify-content: space-around;
}

.feature-container {
    flex-basis: 30%;
    margin-top: 10px;
}

.feature-container p {
    color: #000;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 15px;
}

.feature-container img {
    width: 100%;
    margin-bottom: 15px;
}

/* Styling from Khadija and other pages */

.main {
    display: flex;
    align-items: central;
    justify-content: space-around;
    position: relative;
    top: 10%;
}

.main h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

.main h1 span {
    color: #353535
}

.main p {
    width: 650px;
    text-align: justify;
    line-height: 22px;
    position: central;
    top: 125px;
    left: 25px;
}

.main .maintag .main_btn {
    background: #353535;
    padding: 10px 20px;
    position: relative;
    top: 200px;
    left: 25px;
    color: #d2d7df;
    text-decoration: none;
}

.main_img img {
    width: 600px;
    align: centre;
    left: auto;
    right: auto;
}


.main h2 {
    text-align: center;
    text-overflow: 0;
    font-size: 30px;
    font-family: sans-serif;
    color: #353535;
    padding: 60px;
}

.recipe-category {
    width: 100%;
    height: auto;
    margin: 25px 0;
}

.recipe-category h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

.recipe-category .blog_box {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.recipe-category .blog_card {
    width: 100%;
    height: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.recipe-category .blog_card .blog_img {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.recipe-category .blog_card .blog_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* CSS styles for the footer */
.footer {
    background-color: #353535;
    padding: 40px 0;
    color: #d2d7df;
}

footer .container {
    width: 960px;
    margin: 0;
}

.footer-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-list {
    list-style-type: none;
    padding: 0;
}

.footer-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-list i {
    margin-right: 10px;
    color: #ffd700;
}

.footer-text {
    font-size: 14px;
    margin-top: 20px;
}

.footer-text a {
    color: #fff;
    text-decoration: none;
}

.footer-text a:hover {
    color: #d2d7df;
}